**/.terraform/
**/.terraform/
*.tfstate*
*.sh
**/.terraform/
*.tfstate*
*.sh
setup/*.sh
**/.terraform/
*.tfstate*
*.sh
setup/*.sh
**/.terraform/
*.tfstate*
*.sh
setup/run.sh
setup/t.sh
*.sh
**/.terraform/
*.tfstate*
__pycache__/
*.pyc
__pycache__/
*.pyc
